*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0;
    margin: 0;
}
.imagenFondo{
   background-image: url("assets/design2_image1.jpg");
   background-position: center center;
   background-repeat: no-repeat; 
   background-size: cover;
   display: block
}
body{
    background-color: rgb(23, 172, 123);
}

.bajoImagenPortada{
    background-color: rgb(23, 172, 123);
    text-align: center;
    border: 1px dashed black;
    position: absolute;
    top: 161px;
    left: 336px;
}

 h1 h2{
    color: white;
 }

 
.logo {
    position: relative;
    right: -594px;
    top: 64px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.barraNavegacion{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

section{
    height: auto;
    width: auto;
    line-height: 5px;
    position: absolute;
    top: 247px;
    left: 197px;
    text-align: center;
    line-height: 46px;
}
  
.elementoBarraNavegacion{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
  }
/* el li a: hover cambia a el color cuando se pone puntero encima. */
li a:hover {
    background-color: rgb(198, 196, 26);
  }

.fechas{
    font-weight: bold;
    font-style: italic;
}