*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0;
    margin: 0;
}
h1{
    color:rgb(198, 196, 26);
    text-shadow: 3px 3px 1px black;
}
body{
    background-color: rgb(23, 172, 123);
}
.imagenFondo1{
    background-image: url(/assets/design1_image1.jpg);
    background-position: 0px -127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagenFondo2{
    background-image: url(/assets/design2_image1.jpg);
    background-position: 0px -127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagenFondo3{
    background-image: url(/assets/hockey_1.jpg);
    background-position: 0px -127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagenFondo4{
    background-image: url(/assets/hockey_2.jpg);
    background-position: 0px -127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.imagenFondo5{
    background-image: url(/assets/hockey_3.jpg);
    background-position: 0px -127px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h2 {
    color: white;
    align-self: center;    
}

.bajoImagenPortada {
    display: flex;
    border: 2px solid rgb(198, 196, 26);
    border-radius: 20px;
    flex-direction: row;
    justify-content: center;
    box-shadow: 2px 3px #333;
    padding: 8px;
}


.logo {
    position: relative;
    right: -902px;
    top: 64px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

.barraNavegacion{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
   /*  overflow: hidden; */
    background-color: #333;
    justify-content: center;
}

.elementoBarraNavegacion{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li {
    float: left;
  }
/* el li a: hover cambia a el color cuando se pone puntero encima. */
li a:hover {
    background-color: rgb(198, 196, 26);
  }

.fechas{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: rgb(198, 196, 26);
    color: white
}

.tituloPagina{
    display: flex;
/*     width: 100vw; */
    justify-content: center;
}

#centradoPrincipal{
    display: flex;
    /* width: 100vw; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.subRulesFlex{
    display: flex;
/*     width: 100vw; */
    justify-content: center;
}

.subRulesStyle{
    display: flex;
    border: 2px solid rgb(198, 196, 26);
    border-radius: 20px;
    box-shadow: 2px 3px #333;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-style: oblique;
    
}

.contenedorRules{
    height: 18vh;
/*     width: 100vw; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
}


.contenedorArticles{
    height: 37vh;
/*     width: 100vw; */
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.articleIndex{
    text-align: center;
    /* padding: 10px; */
}

#centradoPrincipalAbout{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
}

.articleAbout{
    text-align: center;
    /* padding: 10px; */
}

.h3About{
    text-decoration: underline;
    text-decoration-color: rgb(198, 196, 26);
    color: white
}


.tableStyle{
    width: 100%;
    border: 2px solid rgb(198, 196, 26);
    border-radius: 20px;
    box-shadow: 2px 3px #333;
    color: white;
}

th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 2px solid rgb(198, 196, 26);
    border-radius: 20px;
    text-align: center;
 }

 caption{
    border: 2px solid rgb(198, 196, 26);
    border-radius: 20px;
    box-shadow: 2px 3px #333;
    color: white;
    font-style: oblique;
 }

 .pGameInfo{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: -27px;
    justify-content: space-evenly;
 }

 .flexRules{
    display: flex;
    flex-direction: column;
}

.flexFields{
    display: flex;
    flex-direction: column;
}

h4{
    text-decoration: underline;
    text-decoration-color: rgb(198, 196, 26);
    color: white
}